{% extends "base.html" %}
{% block title %}Jenkins{% endblock title %}
{% block content %}
    <div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title clearfix">Jenkins</h1>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Job</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for job in jobs%}
                            <tr>
                                <td>{{job['name']}}</td>
                                <td>
                                    <img src="{{url_for('static', filename=job['color']+'.png')}}" alt="Icon">
                                </td>
                                <td>
                                    <a href="/jenkins/build/{{job['name']}}" class="glyphicon glyphicon-repeat"></a>
                                    <a href="/jenkins/update/{{job['name']}}" class="glyphicon glyphicon-pencil"></a>
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}